#ipi-table > thead > tr, #ipi-table > thead > tr > td {
    font-size: .9em;
    font-weight: 400;
    background: #51596a;
    text-transform: uppercase;
    color: #ffffff;
}

#ipi-table > tbody > tr > td {
    max-height: 200px;
    vertical-align: middle!important;
}

.search.form-control {
    border-radius: 0px !important;
}

.search-table-col {
    margin-top: 100px;
}
#search{
    margin-right: 20px;
}

.btngenarate{
    margin-left: 1092px;
}
.table1 {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #8f9296;


    display: table;
    /*border-collapse: unset;*/
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 3px;
    border-color: #8f9296;

}
th{
    padding-top: 20px;
    padding-bottom: 20px;
}
td{
    padding-top: 15px;
    padding-bottom: 15px;
}
