.card-employee{
    /*position: relative;*/
    /*display: flex;*/
    padding-bottom: 25px;
    padding-top: 25px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 5px solid rgba(0,0,0,.125);
    border-radius: .25rem
}